/*body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;

    width: 800px;
    margin: 0 auto;
    padding: 10px;
    color: #333;
}*/
/*    *{
        border-style: dashed;
        box-sizing: border-box;
    }   */

h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.error {
    color: red;
}

label {
  display: block;
  font-size: 20px;
}

label + label {
    margin-top: 20px;
}

input[type=text] {
    width: 500px;
    font-size: 20px;
    padding: 2px;
    font-family: monospace;
}

textarea {
  width: 500px;
  height: 400px;
  font-size: 17px;
  font-family: monospace;
}

input[type=submit] {
  font-size: 24px;
}

.main-title {
    display: block;
    color: #222;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
    text-decoration: none;
}

#post + #post {
    margin-top: 20px;
}

.heading-line {
    border-bottom: 3px solid #666;
}

.post-subject {
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: #222;
}

.by-line{
    text-align: right;
    color: #999;
    font-style: italic;
}
.post-date{
    text-align: right;
    right: 0px;
    bottom: 0px;
    color: #999;

}

.post-content {
    margin-top: 5px;
}

.index-table{
	align-self: center;
	margin-top: 230px;
	margin-left: 315px;
}

.index-column{
	text-align-last: center;
	border: solid;
}

.index-links{
	text-decoration: none;
	color: #999;
}

.comment-box{
  width: 100%;
  height: 100px;
}

.comment-submit{
    width: 100px;
    height: 30px;
    margin-left: 20px;
}

.grid{
    width: 80%;
    margin: auto;
    margin-top: 50px;
}

.inner-grid{
    width: 100%;
}

.row{
    width:100%;
    display: flex;
    flex-wrap: wrap;
}
.col-1{
    width: 8.33%;
}
.col-2{
    width: 16.66%;
}
.col-3{
    width: 25%;
}
.col-4{
    width: 33.33%;

    max-height: 100px;
    overflow: auto;
}
.col-5{
    width: 41.66%;
}
.col-6{
    width: 50%;
}
.col-7{
    width: 58.33%;
}
.col-8{
    width: 66.66%;
}
.col-9{
    width: 75%;
}
.col-10{
    width: 83.33%;
}
.col-11{
    width: 91.66%;
}
.col-12{
    width: 100%;
}
