<div class="inner-grid" id="post">
	<hr>
	<div class="row">
			<div class="col-3">
				<a href="/user/{{comment.user_id}}" style="text-decoration: none;">
					<div style="font-family: 'Sacramento', cursive;font-size: 2em;color: #999;">{{comment.username}}</div>
				</a>
					<div style="color: #999;font-family: 'Kaushan Script', cursive;">{{comment.created.strftime("%b %d, %Y")}}</div>
			</div>

			<div class="col-9">
				<div style="font-family: 'Mirza', cursive;font-size: 1em;">{{comment._render_text | safe}}</div>
			</div>
	</div>
</div>
