{% extends "base.html" %}

{% block tabname %}
Excerpts of Life
{% endblock %}

{% block heading %}
Excerpts of Life
{% endblock %}

{% block content %}
{% for x in range(0,8) %}
		<br>
	{% endfor %}

<div class="row">
	<div class="col-3" style="margin: auto;">
		<form action="/signup">
			<button style="width: 100%;height: 50px;text-align: center;">
				Sign Up
				<br>
				(New User)
			</button>
		</form>
	</div>	
</div>
{% for x in range(0,3) %}
		<br>
	{% endfor %}

<div class="row">
	<div class="col-3" style="margin: auto;">
		<form action="/login">
			<button style="width: 100%;height: 50px;text-align: center;">
				Log In
				<br>
				(Existing User)
			</button>
		</form>
	</div>	
</div>
{% endblock %}